doctype html
html
	head
		title.
			CRUD MongoDB - NodeJS
		style
			include ../public/assets/css/bootstrap.css
		body
			block container
		script
			include ../public/assets/js/jquery.js
			include ../public/assets/js/bootstrap.min.js